.container {
  min-height: 100vh;
  font-family: Nunito Sans;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 414px;
  margin: auto;
}
.container img.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.container div.name {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}
.container div.name img {
  width: 18px;
  height: 18px;
}
.container p.introduc {
  margin-top: 12px;
  font-weight: 600;
}
.container div.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 24px;
}
.container div.social a.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: calc(50% - 16px);
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  cursor: pointer;
}
.container div.social a.link img.logo {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.container div.social a.link img.text {
  width: auto;
  height: 40px;
}
.container div.social a.link.facebook {
  border-color: #3b5998;
}
.container div.social a.link.instagram {
  border-color: #dd2a7b;
}
.container .products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}
.container .products .product {
  position: relative;
  width: calc(100% - 24px);
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  padding: 12px;
  display: flex;
  text-decoration: none;
}
.container .products .product .sale-tag {
  position: absolute;
  top: 8px;
  right: 0;
}

.container .products .product .info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .products .product .info .name,
.container .products .product .info .description {
  color: #444;
  max-width: calc(100% - 70px);
}
.container .products .product .info .name {
  font-size: 16px;
  font-weight: bold;
}
.container .products .product .info .description {
  font-size: 14px;
}
.container .products .product .info .price {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-left: auto;
}

.container .products .product .info .dis-price {
  font-size: 18px;
  font-weight: bold;
  color: #d70018;
}

.container .products .product .info .org-price {
  font-size: 16px;
  text-decoration: line-through;
  color: #707070;
}

.sale-tag {
  color: white;
  display: inline-block;
  padding: 2px 8px;
  text-align: center;
  white-space: nowrap;
  background-color: #fb5757 !important;
  animation: beat 1s ease infinite alternate;
}

.sale-tag::before,
.sale-tag::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  border: 9px solid transparent;
  border-width: 13px 8px;
  border-color: #fb5757;
  border-right-color: #fb5757;
  border-left-color: transparent !important;
  left: -10px;
}

@keyframes beat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
